body{
    background-image: url(("/img/Moon.svg"));
    font-family: 'Roboto Condensed', sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
input:focus,
button:focus
{
    outline:0px !important;
     -webkit-appearance:none;
    box-shadow: none !important;
  border-color: #ccc !important;
} 


nav{
    background-color: rgb(156, 67, 51) !important;
    padding: 0 !important;

    img{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    .navbar-brand{
        color:white;
        font-weight: 900;
    }
    .searchBtn{
        font-weight: 900;
    &:hover{
         transform: scale(1.09);
         transition: 0.3s ease-in;
    
    }
    }
}

//*******Editing List Groups

.container{
    width: 50% !important;

}

li{
    border:1px solid #ccc !important;
    border-radius: 5px;
}

.draggableDiv{
    background-color: #eaeaea !important;
}